/*
	App by FreeHTML5.co
	Twitter: http://twitter.com/fh5co
	URL: http://freehtml5.co
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800");

* {
   margin: 0px;
   padding: 0px;
   font-family: "Montserrat", "sans-serif";
}

body {
   background: #eee;
}

ul {
   list-style: none;
}

.text-white {
   color: #fff;
}

.features_oppt {
   line-height: 1.7;
}


.single-feature {
   transition: all .2s ease-out;
   will-change: transform;
   border-radius: 1.5rem !important;
   color: #000;
}

.single-feature ul li {
   padding: 10px 10px 10px 25px;
   font-size: 18px;
   position: relative;
   color: #222;
}

.single-feature ul li::before {
   content: "";
   position: absolute;
   border-radius: 50px;
   width: 10px;
   height: 10px;
   margin-top: 10px;
   left: 0;
   background: #358DCE;
   z-index: 1;
}

.header-caption {
   font-size: 70px;
   text-transform: capitalize;
   font-weight: bold;
   text-shadow: 2px 2px 7px #0000007d;
}

.header-desc {
   padding: 2rem 0px;
   line-height: 1.7;
   font-size: 18px;
   font-weight: 600;
   text-shadow: 0px 1px 3px #00000069;
}

.btn-register {
   padding: 15px 40px;
   border-radius: 50px;
   font-size: 25px;
   border: 1px solid #358DCE;
   font-weight: 500;
   color: #000;
}

.btn-register._color {
   background: #358DCE;
   color: #eee;
}

.survey-section {
   max-width: 250px;
   background: #eee;
   text-align: left;
   border-radius: 5px;
}

.survey-section li a {
   text-decoration: none;
   padding: 10px;
   display: block;
   cursor: pointer;
   color: inherit;
}

.survey-section li a:hover {
   background: #3885A2;
   color: #fff !important;
}

.modal {
   background: rgba(0, 0, 0, .9);
   opacity: 0.96;
   padding: 5rem 3px 3px;
   display: block;
}

.modal-container {
   width: 70%;
   max-width: 500px;
   margin: auto;
   background: #fff;
   padding: 2rem;
   border-radius: 8px;
}

.error {
   color: red;
   text-align: center;
}

.text-green {
   color: green;
}

.modal form .form-control {
   height: 50px;
   margin-bottom: 1rem;
}

.d-none {
   display: none !important;
}

html {
   overflow-x: hidden;
}

.download-btn-first {
   background: #f7f7f7;
}

.download-btn-first:hover {
   background: #358DCE;
   color: #fff !important;
}

.features-btn-first {
   font-weight: 700;
}

.features-btn-first:hover {
   background: #358DCE !important;
   color: #fff !important;
}

#fh5co-hero-wrapper {
   width: 100%;
   background: url("../img/map-lekki.png") no-repeat center/cover fixed;
   border-radius: 0 0 50% 50% / 4%;
   position: relative;
}

#fh5co-hero-wrapper::before {
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   background: #358DCE;
   opacity: 0.41;
}

.main-navbar-nav .navbar-brand {
   font-size: 38px;
   letter-spacing: 4px;
   position: relative;
   top: -5px;
   font-weight: 500;
}

.main-navbar-nav {
   color: #fff !important;
}

.main-navbar-nav li {
   color: #fff;
   /* opacity: .7; */
}

.main-navbar-nav .navbar-nav .nav-item a:hover {
   color: #3885A2 !important;
   -webkit-transition: all .33s ease;
   -moz-transition: all .33s ease;
   -o-transition: all .33s ease;
   -ms-transition: all .33s ease;
   transition: all .33s ease;
}

.main-navbar-nav .active {
   color: #fff !important;
   opacity: 1 !important;
}

.main-navbar-nav a {
   color: #fff !important;
}

.main-navbar-nav .nav-link {
   opacity: 1 !important;
   margin: 0 35px;
   font-size: 14.5px;
   font-weight: 500;
}

.social-icons-header i {
   margin: 15px;
   font-size: 20px;
}

.social-icons-header a:hover i {
   opacity: .6;
   -webkit-transition: all .2s ease;
   -moz-transition: all .2s ease;
   -o-transition: all .2s ease;
   -ms-transition: all .2s ease;
   transition: all .2s ease;
}

.fh5co-hero-inner {
   margin-top: 110px;
   position: relative;
}

.fh5co-hero-inner>h1 {
   color: #fff;
   font-weight: 300;
   font-size: 55px;
   letter-spacing: 2px;
}

.fh5co-hero-inner>p {
   width: 400px;
   font-size: 14px;
   color: #fff;
   margin-top: 30px;
   margin-bottom: 30px;
   line-height: 2em;
}

.fh5co-hero-inner .download-btn-first {
   font-size: 15px;
   padding: 10px 15px;
   font-weight: 700;
   color: #358DCE;
   margin-bottom: .5rem;
   margin-right: 7px;
}

.fh5co-hero-inner .features-btn-first {
   font-size: 15px;
   padding: 8px 13px;
   font-weight: 400;
   background: #358DCE;
   color: #fff;
   margin-bottom: .5rem;
   margin-right: 7px;
}

.fh5co-hero-inner .fh5co-hero-smartphone {
   position: absolute;
   right: 0px;
   top: 120px;
   height: 650px;
}

/* ==========================================================================================================
										ADVANTAGES
   ========================================================================================================== */
.fh5co-advantages-outer {
   padding: 90px 70px;
   height: auto;
   width: 100%;
   overflow: hidden;
   background: #358DCE;
}


/* ==========================================================================================================
										SLIDER
   ========================================================================================================== */
.fh5co-slider-outer {
   width: 100%;
   height: auto;
   padding: 70px;
}

.fh5co-slider-outer h1 {
   color: #648cff;
   text-transform: capitalize;
   font-size: 30px;
   font-weight: 600;
   margin-bottom: 10px;
   text-align: center;
}

.fh5co-slider-outer>h1,
.fh5co-slider-outer small {
   text-align: center;
   display: block;
}

.fh5co-slider-outer .fh5co-slider-outer {
   margin-top: 50px;
}

.fh5co-slider-outer .carousel-left-arrow {
   position: absolute;
   left: -100px;
   bottom: 250px;
   font-size: 60px;
   color: #ececec;
}

.fh5co-slider-outer .carousel-right-arrow {
   position: absolute;
   right: -100px;
   bottom: 250px;
   font-size: 60px;
   color: #ececec;
}

.fh5co-slider-outer .item img {
   height: 400px;
   width: 200px;
   object-fit: contain;
}

/* ==========================================================================================================
										FEATURES
   ========================================================================================================== */

.fh5co-features-outer .col-md-6 img,
.header-img .img {
   height: 550px;
}

/* 
/* ==========================================================================================================
										REVIEWS
   ========================================================================================================== */

/* ==========================================================================================================
										BOTTOM
   ========================================================================================================== */
.fh5co-bottom-outer {
   width: 100%;
   background: #358DCE;
   overflow-x: hidden;
   padding-bottom: 5rem;
}


.fh5co-bottom-outer .fh5co-bottom-inner .col-sm-6 img {
   margin-top: 25px;
   width: 150px;
   height: 50px;
}

/* ==========================================================================================================
										SUB FOOTER
   ========================================================================================================== */
.img-float-left {
   float: left;
}

.footer-outer {
   width: 100%;
   padding: 50px;
   height: 250px;
   background: #000;
   overflow: hidden;
}

.footer-outer .footer-inner {
   width: 100%;
   height: inherit;
}

.footer-outer .social-icons-footer i {
   margin: 15px 15px 5px 0;
   font-size: 20px;
}

.footer-outer .social-icons-footer a:hover i {
   opacity: .6;
   -webkit-transition: all .2s ease;
   -moz-transition: all .2s ease;
   -o-transition: all .2s ease;
   -ms-transition: all .2s ease;
   transition: all .2s ease;
}

.footer-outer .footer-three-grid {
   width: 1140px;
   margin: 0 auto;
   height: 50px;
   text-align: center;
}

.footer-outer .footer-nav ul {
   list-style: none;
   /* text-align: center; */
   margin: 0;
}

.footer-outer .footer-nav ul li {
   display: inline-block;
   line-height: 50px;
   color: #b5b5c8;
   margin: 0 30px;
   font-size: 14px;
}

.footer-outer .footer-nav ul li:hover {
   color: #fff;
   -webkit-transition: color .2s ease-in-out;
   -o-transition: color .2s ease-in-out;
   transition: color .2s ease-in-out;
}

.footer-outer .footer-nav ul .active {
   color: #fff;
}

.footer-outer .footer-nav ul li a {
   color: #fff;
   text-decoration: none;
}

.footer-outer .border-bottom-footer {
   height: 1px;
   width: 60%;
   margin: 0 auto;
   border: 1px solid #434769;
   display: block;
   margin-top: 50px;
}

.footer-outer .copyright {
   color: #565b87;
   text-align: center;
   font-size: 13px;
   padding: 40px 0;
}

.google-play-btn {
   margin-left: 10px;
}

.text-center {
   text-align: center;
}

.circular {
   height: 250px;
   overflow: hidden;
   border: 1px solid #ccc;
   border-radius: 150px;
   width: 250px;
   margin: auto;
}

.circular img {
   /* margin-left: -66px;
   margin-top: -75px;
   width: 380px; */
   margin-left: -106px;
   margin-top: -47px;
   width: 450px;
}

.font-bold {
   font-weight: bold;
}

.carousel-inner .row {
   padding: 3rem 5px;
}

.carousel-indicators li {
   height: 4px;
   background-color: #ccc;
   cursor: pointer;
}

.carousel-indicators .active {
   background-color: #358DCE;
}

.hart-img {
   height: 70px;
   margin-left: 20px;
}

.contact-form {
   width: 90%;
   max-width: 500px;
   margin: auto;
   padding: 2rem 1rem;
}

.contact-form input.form-control {
   margin-bottom: 1rem;
   height: 50px;
}

.owl-carousel .owl-item img {
   display: block;
   /* width: inherit; */
   margin: auto;
}

.fb_iframe_widget iframe ._2p3a {
   width: 100% !important;
}

.fb_iframe_widget iframe {
   position: absolute;
   width: 100% !important;
}

.fb_iframe_widget_fluid span {
   width: 100% !important;
}

.caro-img {
   position: absolute;
   width: 330px;
   top: 0;
   margin-top: 40px;
   margin-left: 30px;
}

.owl-carousel.owl-loaded {
   display: block;
   width: 230px;
   margin: auto;
}

.owl-carousel .owl-item img {
   width: 231px !important;
   height: 439px !important;
   overflow: hidden;
}

/* ==========================================================================================================
                                       RESPONSIVE STYLING
  ========================================================================================================== */
@media (min-width:576px) {
   .appstore-logo {
      text-align: right;
   }
}

@media (min-width:768px) {
   .CTA_btn {
      position: absolute;
      top: -180px;
   }
}

@media (min-width: 992px) {
   .navbar-expand-lg .navbar-nav .nav-link {
      border-radius: 40px;
      padding: 5px 17px;
      background: rgba(255, 255, 255, .8);
      color: #358DCE !important;
   }

   .right-align {
      text-align: right;
   }
}

@media (min-width:1200px) {
   .CTA_btn {
      position: absolute;
      top: -265px;
   }

   .btn-register {
      padding: 20px 80px;
   }
}


@media screen and (max-width: 991px) {
   body {
      overflow-x: hidden;
   }

   .header-img .img {
      margin-left: -116px !important
   }

   .btn-register {
      padding: 13px 40px;
      font-size: 25px;
   }

   .fh5co-hero-inner {
      margin-top: 30px;
   }

   .fh5co-hero-inner .fh5co-hero-smartphone {
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      top: 270px;
      height: 460px;
      margin-top: 110px;
   }

   .footer-outer .footer-nav ul li {
      margin: 0 10px;
   }

   .footer-outer .social-icons-footer i {
      margin: 15px 10px;
      font-size: 20px;
   }

   .fh5co-features-outer .col-md-6 .col-sm-image-container {
      text-align: center;
   }

   .no-float {
      float: none !important;
   }

   .img-float-right {
      float: none;
   }

   .img-float-left {
      float: none;
   }

   .caro-img {
      margin-left: -87px;
   }

   .navbar-nav {
      background: rgba(255, 255, 255, 0.7);
   }

   .main-navbar-nav .nav-link {
      color: #358DCE !important;
   }
}


@media (max-width:767px) {
   .owl-carousel .owl-item img {
      width: 192px !important;
      height: 325px !important;
   }

   #fh5co-hero-wrapper {
      width: 100%;
      background: url("../img/mobile_map.png");
      background-position: center;
      background-size: contain;
   }

   .caro-img {
      width: 100%;
      margin-top: 33px;
      margin-left: -16px;
   }

   .owl-carousel.owl-loaded {
      width: 170px;
      margin: auto;
   }

   .header-img .img {
      margin: auto !important;
   }

   .center-text {
      text-align: center !important;
   }

   .earn-money {
      font-size: 30px;
   }

   .btn-register {
      padding: 13px 40px;
      font-size: 25px;
   }

   .header-desc {
      padding: 0;
   }

   .header-caption {
      font-size: 50px;
   }

   .fh5co-features-grid-columns .col-md-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 100%;
      width: 100%;
      max-width: 100%;
      margin: 30px auto;
      text-align: center;
   }

   .fh5co-features-grid-columns {
      display: flex;
      flex-direction: column;
   }

   .fh5co-features-grid-columns .in-order-4 {
      order: 1;
   }

   .fh5co-features-grid-columns .in-order-3 {
      order: 2;
   }

   .header-img .img {
      height: 410px;
      width: auto;
   }

   .single-feature {
      min-height: auto;
      text-align: center;
   }

   .single-feature h1 {
      margin-top: 1.5rem;
   }

   .single-feature ul li::before {
      background: transparent;
   }

   .CTA_btn {
      text-align: center;
      margin: 1.5rem 0;
   }

   .header-img {
      text-align: center;
   }

   .circular {
      margin: auto;
   }

   .footer-outer {
      padding: 10px;
   }

   .footer-outer .footer-inner {
      text-align: center;
   }
}

@media screen and (max-width: 520px) {
   .btn-register {
      font-size: 1.2rem;
   }

   .fh5co-hero-inner>h1 {
      font-size: 40px;
   }

   .fh5co-hero-inner>p {
      width: 100%;
   }

   .fh5co-hero-inner {
      text-align: center;
   }

   .fh5co-hero-inner .fh5co-hero-smartphone {
      height: 450px;
      top: 420px;
      margin-top: 70px;
   }

   .social-icons-header i:first-of-type {
      font-size: 22px;
   }

   .fh5co-slider-outer .carousel-left-arrow {
      left: 0;
   }

   .fh5co-slider-outer .carousel-right-arrow {
      right: 0;
   }

   .fh5co-slider-inner {
      margin-top: 50px;
      margin-bottom: 30px;
   }

   .fh5co-reviews-inner .col-sm-5 {
      -ms-flex: 0 0 90%;
      flex: 0 0 90%;
      width: 90%;
      max-width: 90%;
      margin: 30px auto;
      text-align: center;
   }

   .fh5co-advantages-outer .span-perfect {
      margin-top: 80px;
      font-size: 18px;
      margin-bottom: 15px;
      display: block;
      width: 100%;
      text-align: center;
   }

   .fh5co-advantages-outer .span-features {
      display: block;
      width: 100%;
      text-align: center;
   }
}